
:root {
    --text-gray: #6c757d; /* Example gray color, adjust as needed */
  }
  
  .sidebar {
    display: block;
  }
  
  .sidebar .navigation {
    margin: 4rem 0;
  }
  
  .sidebar .follow {
    width: 76px;
    height: 92px;
  }
  
  .sidebar .follow .title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--text-gray);
    margin-bottom: 10px;
  }
  
  .sidebar .follow .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .sidebar .follow .grid a {
    margin-bottom: 15px;
  }
  
  .sidebar .follow .grid a [svgIcon='google'] {
    width: 20px;
    height: 20px;
  }

 .container div div {
    top: inherit;
    align-items: center;
 } 
  