.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.line-with-text span {
  padding: 5px;
  border: 1px solid #000;
  /* Add border */
  border-radius: 10px;
  /* Add rounded corners */
}

.line-with-text::before,
.line-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.line-with-text::before {
  margin-right: .5em;
}

.line-with-text::after {
  margin-left: .5em;
}

.news-item {
  display: flex;
  align-items: start;
}

.news-item>div {
  margin-left: 10px;
}

