@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Open Sans', Roboto, "Helvetica Neue", sans-serif; 
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

:root,
::after,
::before {
  --primary-red: #D72130;
  --text-light: #FFFBFB;
  --text-gray: #B2B2B2;
  --text-dark-gray: #7F7B7B;
  --gray: #7F8899;
  --gray-two: #EDEDED;
  --gray-three: #B2B2B2;
  --gray-light: #F6F6F6;
  --gray-light-two: #F2F2F2;
  --gray-dark: #434C5D;
  --black: #000000;
  --black-two: #2B2F43;
  --black-three: #2F2F2F;
  --white: #FFF5F5;
  --white-one: #FFFFFF;
  --red: #C63638;
  --blue: #BCD1EA36;
  --blue-two: #4A90E2;
}

.watermark {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 141px;
    line-height: 192px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #CCD3E04D;
    writing-mode: vertical-rl;
    position: absolute;
    user-select: none;
    z-index: 25;
}

.watermark-1 {
  left: 60px;
  top: 160px;
  z-index: 125;
}

.watermark-2 {
  left: 60px;
  top: 360px;
  z-index: 125;
}
