/* Global styles for the host component */
:root {
    --primary-red: #ff0000;
    --text-gray: #6c757d;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .layout .container {
    padding: 0 2rem;
    margin-top: 4rem;
  }
  
  .layout .container .mat-drawer {
    overflow: hidden;
  }
  
  .layout .container .mat-drawer-content {
    overflow: hidden;
  }
  
  .layout .breadcrumbs {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 20px;
    color: var(--text-gray);
  }
  
  .layout .breadcrumbs a:last-of-type {
    color: var(--primary-red);
  }
  
  .layout .breadcrumbs .mat-icon {
    margin: 0 5px;
    height: 10px;
    width: 5px;
  }
  
  .layout .breadcrumbs .mat-icon:last-of-type path {
    fill: var(--primary-red);
  }
  
  .layout .watermark-1 {
    left: 290px;
    top: 160px;
    z-index: 25;
  }
  